# SPDX-FileCopyrightText: 2026 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-shoot-grafter-cloudoperators-dev-v1alpha1-careinstruction
  failurePolicy: Fail
  name: mcareinstruction.kb.io
  rules:
  - apiGroups:
    - shoot-grafter.cloudoperators.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - careinstructions
  sideEffects: None
